<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123675939246-sta8j2u30p26qdve2sqcgb5i629f940v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123675939246-sta8j2u30p26qdve2sqcgb5i629f940v</string>
	<key>API_KEY</key>
	<string>AIzaSyAEs5x_M3hdkW7b39PKqcFa8A0vhKf8NeA</string>
	<key>GCM_SENDER_ID</key>
	<string>123675939246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.co.zaveribazaar.retailer</string>
	<key>PROJECT_ID</key>
	<string>zaveri-bazaar-ae390</string>
	<key>STORAGE_BUCKET</key>
	<string>zaveri-bazaar-ae390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123675939246:ios:d75bb43d0b6eef1908b83f</string>
	<key>DATABASE_URL</key>
	<string>https://zaveri-bazaar-ae390.firebaseio.com</string>
</dict>
</plist>